.page {
  background: #231234;
  height: fit-content;
}
.navbar {
  background: #231234;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);

  font-weight: 600;
}

.home {
  display: flex;
  justify-content: space-between;
  background: #231234;
  height: 100vh;
  width: 100%;
  &__tit {
    padding-left: 100px;
    line-height: 11vh;
    font-weight: 700;
    font-size: 10vh;
    color: white;
    @include tablet {
      font-size: 8vh;
    }
  }
  &__hola {
    color: #c4065d;
  }
  &__col {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &__contenedor {
    height: fit-content;
    width: fit-content;
    padding-top: 30px;
  }
  &__button {
    background-color: #c4065d;
    padding: 10px;
    box-shadow: none;
    border: none;
    color: white;
    font-size: 2vh;
    &:hover {
      background-color: #fa4598;
    }
  }

  &__a {
    color: white;
  }
  &__img {
    height: 70vh;
    width: fit-content;
    object-fit: contain;
    @include tablet {
      height: 50vh;
      width: fit-content;
    }
    @include mobile {
      width: 0;
      height: 0;
      visibility: hidden;
    }
  }
}

.about {
  background-color: #372e56;
  height: fit-content;

  &__contenedor {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 50px;
    padding-right: 60px;
    @include tablet {
      margin-top: 20px;
      padding: 10px 40px;
      align-items: center;
    }
  }
  &__img {
    height: fit-content;
    width: 45vw;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
    @include tablet {
      width: 80vw;
    }
  }
  &__col {
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include tablet {
      text-align: center;
      padding: 10px;
    }
  }

  &__h2 {
    color: #f09df6;
    font-weight: 700;
    font-size: 8vh;
    margin-bottom: 0;
    @include mobile {
      font-size: 5vh;
    }
  }
  &__h3 {
    font-weight: 600;
    margin-bottom: 10px;
  }
  &__p {
    padding-right: 20px;
    margin-bottom: 5px;
    @include tablet {
      margin-bottom: 0px;
      padding: 0 20px;
      font-weight: 500;
      font-size: 3vh;
    }
  }
  &__li {
    display: inline-block;
    padding: 5px 5vh;
  }
  &__a {
    color: white;
    &:hover {
      color: #f09df6;
    }
  }
  &__listado {
    font-size: 5vh;
    text-align: center;
  }
}

.project {
  font-size: 3vh;
  &__contenedor {
    display: flex;
    justify-content: space-between;
    background: #231234;
    height: fit-content;
    width: 100%;
    align-items: center;
    padding: 20px 0;
  }
  &__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 70px;
    @include tablet{
      padding: 10px 20px;
      text-align: center;
    }
  }
  &__h2 {
    padding-bottom: 10px;
    font-weight: 700;
  }
  &__img {
    height: fit-content;
    width: 35vw;
    object-fit: contain;
    @include tablet{
      width: 80vw;
    }
  }
}
.timeline {
  background-color: #372e56;
  padding-top: 40px;
  &__col {
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  &__button {
    background-color: none !important;
    border-color: none !important;
    box-shadow: none !important;
  }
  &__img {
    width: 35vw;
    @include tablet{
      width: 50vw;
    }

    &:hover {
      transform: scale(1.1);
      z-index: 2;
    }
  }
}
.modal {
  &-title {
    color: black;
  }
  &__button {
    background-color: #c4065d;
    box-shadow: none;
    border: none;
    &--secondary {
      background-color: #f7cde0;
      color: white;
      &:hover {
        background-color: #fa4598;
      }
    }
    &:hover {
      background-color: #fa4598;
    }
  }
  &__a {
    color: white;
    &--secondary {
      color: #4e4e4e;
      &:hover {
        color: white;
      }
    }
  }
}
.slider__img {
  height: 80vh;
  width: 100%;
  object-fit: contain;
}

.contenedor__video {
  display: flex;
  justify-content: center;
  align-items: center;
}
